@using MedioClinic.Models.Articles
@using CMS.CustomTables;
@using CMS.SiteProvider;
@using CMS.Helpers;

@model MedioClinic.Models.PageViewModel<ArticleDetailViewModel>

@if (Model.Data.Article != null)
{
    <style>
        .title {
            color: #455a64;
            font-size: 4.2rem;
            margin: 0;
        }
    </style>

    <div class="container">
        <div class="row">

            @*Article*@
            <div class="col l9 m8 s12" style="padding-right: 4ex;">

                @{
                    var thumbnail = Model.Data.Article.Thumbnail;
                    string imgPath = string.Empty;

                    if (thumbnail != null)
                    {
                        imgPath = Url.KenticoImageUrl(thumbnail.GetPath());
                    }
                }

                <p class="title">@Model.Data.Article.Title</p>
                @Model.Data.Article.DatePublished.ToString("f")
                <hr />
                <img src="@imgPath" style="max-width: 400px;" />

                <p>@Html.Raw(Model.Data.Article.Content)</p>
                <hr />

                @* Authors *@
                @foreach (var author in Model.Data.Authors)
                {
                    <p>@author.GetStringValue("FirstName", string.Empty) @author.GetStringValue("LastName", string.Empty)</p>
                }
            </div>

            @*Ads*@
            <div class="col l3 m4 s12">

                <div class="container" style="text-align: center;">
                    <h5>Our Partners</h5>
                    <hr />
                </div>

                @foreach(var partner in @Model.Data.CalloutAds)
                {
                    <div class="card sticky-action">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="@Url.KenticoImageUrl(partner.GetValue("Image").ToString())">
                        </div>
                        <div class="card-content" style="padding: 0;">
                            <span class="card-title activator grey-text text-darken-4">@partner.GetValue("Title")<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-action" style="font-size: 14px; padding: 8px 15px;">
                            <a href="@partner.GetValue("Website")" target="_blank">Visit our site</a>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4" style="border-bottom: 1px solid rgba(160,160,160,.2);">@partner.GetValue("Title")<i class="material-icons right">close</i></span>
                            <p>@partner.GetValue("Summary")</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}